<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project for Ka Gong</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body 
    class="bg-gray-800 text-white h-screen flex flex-col items-center justify-center">

    
    <h1 class="text-4xl font-bold mb-10">Project for Ka Gong</h1>

    <img src="/static/cafe_girl.png" alt="Extractor Hub Logo" class="hub-image">

    
    <div>
        <a href="/url_extractor" class="btn">Go to URL Extractor</a>
        <a href="/text_extractor" class="btn">Go to Text Extractor</a>
        
        <a href="/bulk_text_extractor" class="btn">Go to Bulk Text Extractor</a>
    </div>

    
</body>
</html>
